@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
--white: #ffffff;
--white-opacity-85: rgba(255, 255, 255, 0.85);
--black: #000000;
--gray-light: #cbcbcb;
--gray: rgb(128, 128, 128);
}


body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

main section{
    width: 50%;
}


.intro{
    background: url(../imgs/women_book.jpg) center no-repeat;
    /* background-image: url(../imgs/women_book.jpg);
    background-repeat: no-repeat;
    background-position: center; */ 
    background-size: cover; 
    height: 100%;
    /*Astuce 1*/
   /*  position: relative; /* bloquer dans sonb parent*/
}

.intro div{
    background-color: var(--white-opacity-85);
    width: 65%;
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 20px;

    /* astuce 1*/
    /* position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%); */
  
}

.signin p{
    color: rgb(128, 128, 128);
}

/* formulaire */

.signin form{
    width: 50%;
    margin: auto;
}

.signin form h1{
    font-size: 2.3rem;
    margin: 0;
}

.signin form p{
    font-size: 1.2rem;
    color: var(--gray);
    margin: 0 0 32px 0;
}

.signin form label{
    display: block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 2px;    
}

.signin form input{
    display: block;
    border: 1px solid var(--gray-light);
    border-radius: 4px;
    padding: 12px; /* 12px de marge interieur sur les 4 côtés */
    margin: 0 0 16px; /* 16px marge exterieur */
    width: 100%;
    box-sizing: border-box;
}

.signin form button{
    background-color: var(--black);
    color: var(--white);
    border-radius: 4px;
    padding: 12px 0;
    border: none;
    width: 100%;
}

.signin form a {
    border: 1px solid var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--black);
    font-size: 0.9em;
    gap: 10px;
    padding: 10px 0;
    margin-top: 12px;
    border-radius: 4px;
}

.signin form img {
    width: 5%;
}